<html>
<head>
</head>
<body>
<div id="container"></div>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
data = {{printf "%s" .Data}};
</script>
<script>
data = {{printf "%s" .Data}};
</script>
</body>
</html>
