<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#{{ appInfo.startIdent }}">home</a></li>
      <li class="span8">
        <input on-change="newTask" class="newTask" placeholder="what needs to be done or fixed?"/>
      </li>
    </ul>
  </div>
</div>
