<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="span9">
      <input on-change="newTask" class="newTask" placeholder="what needs to be done or fixed?"/>
    </div>
    <div class="span3">
      <input type="text" class="search search-query" value="{{search}}" placeholder="Filter"/>
    </div>
  </div>
</div>
