<div class="navbar navbar-inverse navbar-fixed-bottom footer">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#{{ appInfo.startIdent }}">home</a></li>
      <li><a href="#class-{{obj.class}}">design</a></li>
      <li><a href="#ui_page:page-help">help</a></li>
    </ul>
  </div>
</div>
