{{>main_header}}

<div class="main">
{{# obj.class == "task" || obj.class == "app" }}
  <h1>tasks: {{ tasks.length }}</h1>
  <input on-change="newTask" class="newTask" placeholder="what needs to be done or fixed?"/>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <ul>
          {{#tasks}}
            <li intro="fade:slow">
              <a on-click="showTask" id="{{.createdAt}}">
                {{.title}}
              </a>
            </li>
          {{/tasks}}
        </ul>
      </div>
      <div class="span7">
        {{#obj}}
          {{# .class == "task" }}
            <div class="task">
              <div>
                <div class="control">
                  <button class="btn" on-click="editTask">
                    {{ edit ? 'cancel edit' : 'edit' }}
                  </button>
                  {{#edit}}
                    <div intro="fade:slow">
                      <button class="btn" on-click="saveTask">
                        save edit
                      </button>
                    </div>
                  {{/edit}}
                </div>
                <div class="wide">
                  <label>task</label>
                  {{.title}}
                </div>
                {{#edit}}
                  <div intro="fade:slow">
                    <input id="edit_obj_title" value="{{edit_obj.title}}"/>
                  </div>
                {{/edit}}
              </div>
              <div>
                <label>status</label>
                {{.status}}
              </div>
              <div>
                <label>created at</label>
                {{.createdAt}}
              </div>
              <div>
                <label>updated at</label>
                {{.updatedAt}}
              </div>
              <div>
                <label>description</label>
                {{^edit}}{{.description}}{{/edit}}
                {{#edit}}
                  <div intro="fade:slow">
                    <textarea value="{{edit_obj.description}}"/>
                  </div>
                {{/edit}}
              </div>
              <div class="comments">
                <label>comments</label>
                <ul>
                  {{#.messages}}
                    <li intro="fade:slow">
                      {{.updatedAt}} - {{.message}}
                    </li>
                  {{/.messages}}
                </ul>
                <div>
                  <div class="control">
                    <button class="btn" on-click="addComment">{{ comment ? 'cancel' : 'add' }} comment</button>
                    {{#comment}}
                      <div intro="fade:slow">
                        <button class="btn" on-click="saveComment">save comment</button>
                      </div>
                    {{/comment}}
                  </div>
                  {{#comment}}
                    <div intro="fade:slow">
                      <textarea id="commentMessage" value="{{commentMessage}}" placeholder="your new comment here"></textarea>
                    </div>
                  {{/comment}}
                </div>
              </div>
            </div>
          {{/}}
        {{/obj}}
      </div>
    </div>
  </div>
{{/}}

{{# obj.class != "task" && obj.class != "app" }}
  {{#obj}}{{>__object}}{{/obj}}
{{/}}
</div>

{{>main_footer}}
