input.newTask {
    width: 80%;
    margin: .5em 2em 0 2em;
}
.search {
    margin: 0 0 2em -0.2em;
}
.lhs {
    margin-top: 3.5em;
}
.lhs .pane {
    height: 75%;
    overflow-y: scroll;
}
.tasks ul {
    position: relative;
    margin-top: .5em;
    list-style-type: disc;
}
.tasks li.current {
    background: #dfd;
}
.taskPanel {
    padding: 3em 2em 10em 2em;
    border-left: 1px solid #aaa;
}
.task * {
    vertical-align: top
}
.task .control {
    margin-top: 1em;
}
.task input, .task textarea {
    display: inline-block;
    min-width: 14em;
    width: 70%;
}
.task label {
    display: inline-block;
    min-width: 7em;
    margin-right: 1em;
}
.task label:after {
    content:":";
}
.task .control button {
    width: 10em;
}
.task select {
    font-size: 9pt;
    width: 7em;
}
.taskStatusTransitions {
    padding: 0 1em .5em 8.25em;
}
.messages {
    margin-top: 2em;
    border-top: 1px solid #aaa;
    padding-top: 1em;
}
.messages label:after {
    content:":";
}
.messages ul {
    list-style-type: none;
    margin-left: 0;
}
.messages ul li button {
    visibility: hidden;
}
.messages ul li:hover button {
    visibility: visible;
}
.messages ul li:hover {
    background: #f0f0f0;
}
.messages textarea {
    display: inline-block;
    min-width: 14em;
    width: 70%;
}
.messages .control button {
    width: 10em;
}
