{{>main_header}}

<div class="main">
{{# obj.class == "task" || obj.class == "app" }}
  <h1>tasks: {{ tasks.length }}</h1>
  <input on-change="newTask" class="newTask" placeholder="what needs to be done or fixed?"/>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <ul>
          {{#tasks}}
            <li intro="fade:slow" class="{{ .ident == obj.ident ? 'current' : '' }}">
              <a href="#{{.ident}}">
                {{.title}}
              </a>
            </li>
          {{/tasks}}
        </ul>
      </div>
      <div class="span7">
        {{#obj}}
          {{# .class == "task" }}
            <div class="task">
              <div>
                <div>
                  <label>title</label>
                  {{^doEdit}}
                    <a href="#{{.ident}}">
                      {{.title}}
                    </a>
                  {{/doEdit}}
                  {{#doEdit}}
                    <span intro="fade:slow">
                      <input id="objEdit_title" value="{{objEdit.title}}"/>
                    </span>
                  {{/doEdit}}
                </div>
              </div>
              <div>
                <label>status</label>
                {{^doEdit}}
                  {{.status}}
                {{/doEdit}}
                {{#doEdit}}
                  <select value="{{objEdit.status}}">
                    {{#statusChoices}}
                      <option value="{{.}}">{{.}}</option>
                    {{/statusChoices}}
                  </select>
                {{/doEdit}}
              </div>
              <div>
                <label>created at</label>
                {{.createdAt}}
              </div>
              <div>
                <label>updated at</label>
                {{.updatedAt}}
              </div>
              <div>
                <label>description</label>
                {{^doEdit}}{{.description}}{{/doEdit}}
                {{#doEdit}}
                  <span intro="fade:slow">
                    <textarea value="{{objEdit.description}}"/>
                  </span>
                {{/doEdit}}
              </div>
              <div class="control">
                {{#doEdit}}
                  <button class="btn" on-click="saveTask">
                    save edit
                  </button>
                {{/doEdit}}
                <button class="btn" on-click="editTask">
                  {{ doEdit ? 'cancel edit' : 'edit task' }}
                </button>
              </div>
              <div class="comments">
                <label>comments</label>
                <ul>
                  {{#.messages}}
                    <li intro="fade:slow">
                      {{.updatedAt}} - {{.message}}
                    </li>
                  {{/.messages}}
                </ul>
                <div>
                  {{#doComment}}
                    <textarea id="commentMessage" value="{{commentMessage}}" placeholder="your new comment here"></textarea>
                  {{/doComment}}
                  <div class="control">
                    {{#doComment}}
                      <button class="btn" on-click="saveComment">save comment</button>
                    {{/doComment}}
                    <button class="btn" on-click="addComment">{{ doComment ? 'cancel' : 'add' }} comment</button>
                  </div>
                </div>
              </div>
            </div>
          {{/}}
        {{/obj}}
      </div>
    </div>
  </div>
{{/}}

{{# obj.class != "task" && obj.class != "app" }}
  {{#obj}}{{>__object}}{{/obj}}
{{/}}
</div>

{{>main_footer}}
