<div class="taskPanel">
<div class="task">
  <div>
    <label>title</label>
    {{^doEdit}}
      <a href="#{{.ident}}">
        {{.title}}
      </a>
    {{/doEdit}}
    {{#doEdit}}
      <span intro="fade:slow">
        <input id="objEdit_title" value="{{objEdit.title}}"/>
      </span>
    {{/doEdit}}
  </div>
  <div>
    <label>status</label>
    {{^doEdit}}
      {{.status}}
      <div class="taskStatusTransitions">
        {{#taskStatusTransitions}}
          <button class="btn btn-mini">{{.on}}</button>
        {{/taskStatusTransitions}}
      </div>
    {{/doEdit}}
    {{#doEdit}}
      <select value="{{objEdit.status}}">
        {{#statusChoices}}
          <option value="{{.}}">{{.}}</option>
        {{/statusChoices}}
      </select>
    {{/doEdit}}
  </div>
  <div>
    <label>created at</label>
    {{.createdAt}}
  </div>
  <div>
    <label>updated at</label>
    {{.updatedAt}}
  </div>
  <div>
    <label>description</label>
    {{^doEdit}}{{.description}}{{/doEdit}}
    {{#doEdit}}
      <span intro="fade:slow">
        <textarea value="{{objEdit.description}}"/>
      </span>
    {{/doEdit}}
  </div>
  <div class="control">
    {{#doEdit}}
      <button class="btn" on-click="saveTask">
        save edit
      </button>
    {{/doEdit}}
    <button class="btn" on-click="editTask">
      {{ doEdit ? 'cancel edit' : 'edit task' }}
    </button>
  </div>

  {{>taskComments}}
</div>
</div>
