{{>main_header}}

{{# obj.class == "task" || obj.class == "app" }}
  <div class="tasks">
    <h3>tasks: {{ tasks.length }}</h3>

    <ul>
      {{#tasks}}
        <li intro="fade:slow" class="{{ .ident == obj.ident ? 'current' : '' }}">
          <a href="#{{.ident}}">{{.title}}</a>
        </li>
      {{/tasks}}
    </ul>

    <div class="taskCountsByStatus">
      {{#statusChoices}}
        {{# taskCountsByStatus[.] > 0}}
          <div>{{.}}: {{taskCountsByStatus[.]}}</div>
        {{/ taskCountsByStatus[.] > 0}}
      {{/statusChoices}}
    </div>
  </div>

  {{#obj}}
    {{# .class == "task" }}
      {{>taskPanel}}
    {{/ .class == "task" }}
  {{/obj}}
{{/ obj.class == "task" || obj.class == "app" }}

{{# obj.class != "task" && obj.class != "app" }}
  <div class="main">
    {{#obj}}{{>__object}}{{/obj}}
  </div>
{{/}}

{{>main_footer}}
