<div class="messages">
  <label>messages</label>
  <ul>
    {{#.messages}}
      <li intro="fade:slow">
        <button class="btn btn-mini">delete</button>
        {{.updatedAt}} - {{.message}}
      </li>
    {{/.messages}}
  </ul>
  <div>
    {{#doComment}}
      <textarea id="commentMessage" value="{{commentMessage}}" placeholder="your new comment here"></textarea>
    {{/doComment}}
    <div class="control">
      {{#doComment}}
        <button class="btn" on-click="saveComment">save comment</button>
      {{/doComment}}
      <button class="btn" on-click="addComment">{{ doComment ? 'cancel' : 'add' }} comment</button>
    </div>
  </div>
</div>
