input.newTask {
    width: 80%;
    margin: .5em 1em 2em 0em;
}

.task {
    width: 60%;
    position: fixed;
    border-left: 1px solid #666;
    padding-left: 2em;
}
.task * {
    vertical-align: top
}
.task .control {
    float: right;
}
.task .control button {
    width: 10em;
}
.task input, .task textarea {
    display: inline-block;
    min-width: 14em;
    width: 50%;
}
.task label {
    display: inline-block;
    min-width: 7em;
    margin-right: 1em;
}
.task label:after {
    content:":";
}
.task .comments {
    margin-top: 2em;
    border-top: 1px solid #aaa;
    padding-top: 1em;
}
.task select {
    width: 7em;
}
