<div class="messages">
  <label>messages</label>
  <ul>
    {{#.messages:i}}
      <li intro="fade:slow">
        <button class="btn btn-mini btn-danger" on-click="deleteMessage" value="{{i}}">delete</button>
        {{.updatedAt}} - {{.message}}
      </li>
    {{/.messages}}
  </ul>
  <div>
    {{#doMessage}}
      <textarea id="messageVal" value="{{messageVal}}" placeholder="your new message here"></textarea>
    {{/doMessage}}
    <div class="control">
      {{#doMessage}}
        <button class="btn btn-small" on-click="saveMessage">save message</button>
      {{/doMessage}}
      <button class="btn btn-small" on-click="addMessage">{{ doMessage ? 'cancel' : 'add' }} message</button>
    </div>
  </div>
</div>
