.tasks {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 4em 1em 5em 2em;
}
.tasks input.newTask {
    position: relative;
    width: 80%;
    margin: .5em 1em 2em 0;
    z-index: 10;
}
.tasks ul {
    position: relative;
    padding-left: 2em;
    width: 20%;
}
.tasks li.current {
    background: #dfd;
}
.taskPanel {
    position: absolute;
    width: 60%;
    left: 40%;
    overflow-y: scroll;
    padding-top: 13em;
}
.task {
    margin: 0 2em 5em 0;
    border: 1px solid #aaa;
    padding: 2em 0 2em 2em;
}
.task * {
    vertical-align: top
}
.task .control {
    margin-top: 1em;
}
.task .control button {
    width: 10em;
}
.task input, .task textarea {
    display: inline-block;
    min-width: 14em;
    width: 70%;
}
.task label {
    display: inline-block;
    min-width: 7em;
    margin-right: 1em;
}
.task label:after {
    content:":";
}
.task .comments {
    margin-top: 2em;
    border-top: 1px solid #aaa;
    padding-top: 1em;
}
.task select {
    width: 7em;
}
