{{>main_header}}

<div class="container main">
  <div class="row">
    <input on-change="newTask" class="newTask"
           placeholder="what needs to be done or fixed?"/>
  </div>
  <div class="row">
    <div class="span6">
      <div>
          <h2>tasks: {{ tasks.length }}</h2>
          <ul>
            {{#tasks}}
              {{.title}}
              {{>task}}
            {{/tasks}}
          </ul>
      </div>
    </div>
    <div class="span6">
      {{#obj}}
        {{>task}}
      {{/obj}}
    </div>
  </div>
</div>

{{>main_footer}}
