{{>main_header}}

<div class="container main">
  <h1>
    welcome
  </h1>
  <div>
    <label>new task:
      <input on-change="newTask"
             placeholder="what needs to be done?"/>
    </label>
  </div>
  <div>
    <ul>
      {{#tasks}}
        {{>task}}
      {{/tasks}}
    </ul>
  </div>
</div>

{{>main_footer}}
