{{>main_header}}

<div class="container main">
  <div class="row">
    <input on-change="newTask" class="newTask"
           placeholder="what needs to be done or fixed?"/>
    <h2>tasks: {{ tasks.length }}</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <ul>
        {{#tasks}}
          <li>{{.title}}</li>
        {{/tasks}}
      </ul>
    </div>
    <div class="span8">
      <div class="task">
        {{#obj}}
          {{.class}}
          {{# .class == "task" }}
            {{>task}}
          {{/}}
        {{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
