<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#{{ appInfo.startIdent }}">home</a>
      <ul class="nav">
        <li><a href="#search">search</a></li>
        <li><a href="#ui_page:page-help">help</a></li>
      </ul>
    </div>
  </div>
</div>
